body{
    overflow-y: hidden;
}
.brand{
    font-family: 'Nunito Sans', sans-serif;
}
nav{
    height: 15vh;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.menu-bar{
    width: 20%!important;
    height: 70vh;
    border-radius: 20px;
}
.content{
    width: 65vw!important;
    background-color: #6379f4;
    height: 20vh;
    border-radius: 20px;
}
.info-balance h4{
    margin:-1vh 0.5vw;
}
.info-balance h6{
    margin: 4vh 0.5vw;
    /* padding-top: 10vh!important; */
}
.Details{
    /* width: 50vw; */
    margin-left: 1vw; 
    height: 60%;
    overflow-y: auto;
}
.graphic{
    height: 47vh!important;
    border-radius: 20px;
}
.info-graphic h6{
    margin-top: -2vh;
}
.box-history{
    border-radius: 20px;
}
.samuel p{
    color: #7a7886;
    font-size: 13px;
    transform: translate(-7vw, 3vh);
}
.samuel span{
    color: #00ff00;
    transform: translate(6vw, 1vh);
}
.Netflix p{
    color: #7a7886;
    font-size: 13px;
    transform: translate(-3.8vw, 3vh);
}
.Netflix span{
    color: #ff5b37;
    transform: translate(8vw, 1vh);
}
.christine p{
    color: #7a7886;
    font-size: 13px;
    transform: translate(-8vw, 3vh);
}
.christine span{
    color: #00ff00;
    transform: translate(5vw, 1vh);
}
.adobe p{
    color: #7a7886;
    font-size: 13px;
    transform: translate(-6vw, 3vh);
}
.adobe span{
    color: #ff5b37;
    transform: translate(5.5vw, 1vh);
}