@media screen and (max-width:600px){
    .container{
        max-width: 50vh;
        justify-content: center;
    }
    .navbar{
        display: none;
    }
    .sidebar-menu{
        display: none;
    }
    #footer{
        display: none!important;
    }
    .main-transaction-history{
        max-width: 100%;
        background-color: #fafcff!important;
        box-shadow: none!important;
        transform: translate(15vw, 4vh);
    }
    .first-user{
        display: flex;
        flex-direction: row;
        height: 96px!important;
        width: 100%!important;
        background-color: white;
        margin-top: 7vh;
        margin-bottom: 2vh;
        align-items: center;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
        /* border-radius: 5px; */
    }
    .first-user{
        display: block!important;
        transform: translate(-5vw, -3vh);
    }
    .first-user img {
        padding-top: 1vh;
        width: 56px;
        height: 56px;
    }
    .first-user h5{
        transform: translate(1vw, -5vh);
        font-size: 16px;
    }
    .first-user span{
        transform: translate(1vw, -4vh);
    }
    .text-desc{
        display: none;
    }
    .input-nominal input{
        transform: translate(20vw, 28vh);
        background-color: #fafcff;
        max-width: 46vw;
    }
    .info-nominal span{ 
        transform: translate(-41vw, 10vh);
        position: absolute;
        color: #7C7895;
        font-size: 16px;
    }
    .notes input{
        transform: translate(-23vw, 25vh);
        background-color: #fafcff;
        width: 112vw;
        text-align: left!important;
    }
    .notes img{
        transform: translate(79vw, 27vh);
    }
    .LoginBtn{
        display: none;
    }
    .phone-number{
        display: flex;
        flex: 50%;
        transform: translate(10vw, 60vh);
        flex-direction: row;
    }
    .phone-number{
        display: block!important;
    }
    .one{
        width: 20vw;
        height: 20vw;
        padding-left: 10vw;
        position: absolute;
        /* justify-content: center; */
        /* align-items: center; */
        font-size: 14vw;
        transform: translate(-7vw, 0vh);
        background-color: white;
        box-shadow: 0 4px 20px rgb(0 0 0 / 5%);
        border-radius: 10px;
    }
    .two{
        width: 20vw;
        height: 20vw;
        padding-left: 10vw;
        position: absolute;
        /* justify-content: center; */
        /* align-items: center; */
        font-size: 14vw;
        transform: translate(28vw, 0vh);
        background-color: white;
        box-shadow: 0 4px 20px rgb(0 0 0 / 5%);
        border-radius: 10px;
    }
    .three{
        width: 20vw;
        height: 20vw;
        padding-left: 10vw;
        position: absolute;
        /* justify-content: center; */
        /* align-items: center; */
        font-size: 14vw;
        transform: translate(63vw, 0vh);
        background-color: white;
        box-shadow: 0 4px 20px rgb(0 0 0 / 5%);
        border-radius: 10px;
    }
    .four{
        width: 20vw;
        height: 20vw;
        padding-left: 10vw;
        position: absolute;
        /* justify-content: center; */
        /* align-items: center; */
        font-size: 14vw;
        transform: translate(-7vw, 15vh);
        background-color: white;
        box-shadow: 0 4px 20px rgb(0 0 0 / 5%);
        border-radius: 10px;
    }
    .five{
        width: 20vw;
        height: 20vw;
        padding-left: 10vw;
        position: absolute;
        /* justify-content: center; */
        /* align-items: center; */
        font-size: 14vw;
        transform: translate(28vw, 15vh);
        background-color: white;
        box-shadow: 0 4px 20px rgb(0 0 0 / 5%);
        border-radius: 10px;
    }
    .six{
        width: 20vw;
        height: 20vw;
        padding-left: 10vw;
        position: absolute;
        /* justify-content: center; */
        /* align-items: center; */
        font-size: 14vw;
        transform: translate(63vw, 15vh);
        background-color: white;
        box-shadow: 0 4px 20px rgb(0 0 0 / 5%);
        border-radius: 10px;
    }
    .seven{
        width: 20vw;
        height: 20vw;
        padding-left: 10vw;
        position: absolute;
        /* justify-content: center; */
        /* align-items: center; */
        font-size: 14vw;
        transform: translate(-7vw, 30vh);
        background-color: white;
        box-shadow: 0 4px 20px rgb(0 0 0 / 5%);
        border-radius: 10px;
    }
    .eight{
        width: 20vw;
        height: 20vw;
        padding-left: 10vw;
        position: absolute;
        /* justify-content: center; */
        /* align-items: center; */
        font-size: 14vw;
        transform: translate(28vw, 30vh);
        background-color: white;
        box-shadow: 0 4px 20px rgb(0 0 0 / 5%);
        border-radius: 10px;
    }
    .nine{
        width: 20vw;
        height: 20vw;
        padding-left: 10vw;
        position: absolute;
        /* justify-content: center; */
        /* align-items: center; */
        font-size: 14vw;
        transform: translate(63vw, 30vh);
        background-color: white;
        box-shadow: 0 4px 20px rgb(0 0 0 / 5%);
        border-radius: 10px;
    }
    .zero{
        width: 20vw;
        height: 20vw;
        padding-left: 10vw;
        position: absolute;
        /* justify-content: center; */
        /* align-items: center; */
        font-size: 14vw;
        transform: translate(27vw, 45vh);
        background-color: white;
        box-shadow: 0 4px 20px rgb(0 0 0 / 5%);
        border-radius: 10px;
    }
    .delete{
        width: 20vw;
        height: 20vw;
        padding-left: 10vw;
        position: absolute;
        /* justify-content: center; */
        /* align-items: center; */
        font-size: 14vw;
        transform: translate(27vw, 45vh);
        background-color: white;
        box-shadow: 0 4px 20px rgb(0 0 0 / 5%);
        border-radius: 10px;
    }
    .image{
        display: block!important;
        transform: translateY(-8vh);
    }
    .image .left{
        transform: translateX(72vw);
    }
    .back-way{
        display: block!important;
    }
    .back-way h3{
        transform: translate(10vw, -8vh);
    }
    .back-way img{
        transform: translate(10px, -20px);
    }
    .box-history h4{
        display: none;
    }
    
}



@media screen and (max-width:1500px){
    .phone-number{
        display: none;
    }
    .image{
        display: none;
    }
    .back-way{
        display: none;
    }
}













body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family:'Nunito Sans', sans-serif;
    background-color: #fafcff;
    overflow: hidden;
}

.navbar {
    width: 100%;
    height: 10%;
    background-color: white;
    padding: 15px;
    padding-right: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}
.navbar-column.left{
    padding: 0 100px;
}
.title.left {
    color: #6379f4;
}
.nav-user-info{
    margin-left: 15px;
    float: right;
}
.navbar-column.right{
    float: right;
    margin-top: -60px;
    padding-right: 10%;
}
.fw-bold{
    margin-bottom: -15px;
}
.icon.notification{
    margin-left: 120%;
}
.wraper{
    padding: 50px 0;
}
.container{
    width: 100vw;
    height: 100vh;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}
/* ----------------------------navbar end--------------------------------- */

@keyframes sideLeft{
    0%,100%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(5px);
    }
}

/* ---------------------------sidebar start--------------------------- */
/* .sidebar-menu{
    position: absolute;
    width: 30vw;
    height: 70vh;
    
    margin: 0;
} */
.sidebar-menu{
    width: 20%;
    margin: 18px 5vw;
}
.box-sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    width: 20vw;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}

.sidebar-menu .box-sidebar ul{
    position: absolute;
    margin-left: -3vw;
    width: 20%;
}
.sidebar-menu .box-sidebar li{
    margin-top: 10vh;
    padding: 14px 20px;
    transition: all 0.3s linear;
}
.sidebar-menu .box-sidebar .top{
    margin-top: 1vh;
}
.sidebar-menu .box-sidebar img{
    margin-bottom: -1vh;
    padding-right: 8px;
}
.sidebar-menu .box-sidebar a{
    font-size: 18px;
    text-decoration: none;
}
.sidebar-menu .box-sidebar .black{
    color: #7F8C8D ;
}
.sidebar-menu .box-sidebar li:hover{
    border-left: 3px solid#6379f4;
    box-shadow: 0 0 4px #A9CCE3;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}
/*---------------------------- sidebar end ----------------------------*/


/* ---------------------------history start------------------------------------------ */

.main-transaction-history{
    width: 80vh;
    height: 70vh;
    position: absolute;
    margin: 9vw 55vh;
    padding-right: 20vw;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}
.box-history h4{
    margin: 2vw 4vh;
}
.first-user{
    width: 50vw;
    height: 11vh;
    position: absolute;
    margin: 10vh 3vw;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    /* animation: sideLeft 3s ease-in-out infinite; */
}
.first-user:hover{
    transform: translateX(2px);
    box-shadow: 0 5px 10px  #d0d3d4 ;
    opacity: 1;
    /* animation: sideLeft 3s ease-in-out infinite; */
}
.first-user img{
    margin: 10px 10px;
}
.first-user h5{
    margin: -5vw 10vh;
}
.first-user span{
    position: absolute;
    margin: 6vw 10vh;
    font-size: 13px;
    color: #aaa;
}
.text-desc{
    font-size: 16px;
    margin: 10vh 5vw;
    color: #aaa;
}
/* .input-nominal{
    box-sizing: border-box;
    width: 50vw;
    height: 7vh;
    margin: -1vw 3vh;
    padding: 10px 30px;
    border: none;
    outline: none;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
} */
.input-nominal input{
    position: absolute;
    width: 50%;
    border: none;
    outline: none;
    margin: -10vh 25vw;
    border-left: 2px solid#e74c3c;
    font-size: 42px;
    color: #d0d3d4;
    font-weight: bold;
    transition: 0.2s ease;
}
.info-nominal{
    height: 10vh;
    width: 100%;
    font-weight: bold;
    margin: 1vw 44vh;
}
.notes{
    margin: -5vh 22vw;
}
.notes input{
    display: block;
    box-sizing: border-box;
    padding: 7px 5px;
    border: none;
    outline: none;
    text-align: center;
    border-bottom: 1.5px solid rgba(169, 169, 169, 0.6);
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 400;
    transition: 0.2s ease;
}
.notes img{
    position: absolute;
    margin-top: -5vh;
}
.LoginBtn{
    position: absolute;
    margin: 51% 66%;
}
.LoginBtn button{
    border: none;
    height: 6vh;
    width: 15vw;
    border-radius: 10px;
    margin: 0.5em 0;
    transform: translate(-1%);
    cursor: pointer;
    color: #fff;
    transition: all .4s;
}
.LoginBtn button:hover{
    background: #6495ed;
    transition: 0.2s ease;
}
#footer{
    display: flex;
    justify-content: space-between;
    height: 8vh;
    width: 100%;
    background: #6379f4;
    margin-top: 2vh;
}
#footer p{
    color: white;
    margin-left: 3vw;
}

#footer span{
    margin-left: 35vw;
    color: white;
    margin-top: 3vh;
}
#footer .contact{
    margin-right: 5vw;
    color: white;
}




























