body{
    overflow: hidden;
    font-family: 'Nunito Sans', sans-serif;
}
.brand{
    font-family: 'Nunito Sans', sans-serif;
}
nav{
    height: 15vh;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.menu-bar{
    width: 20%!important;
    height: 75vh;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.box-history{
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.samuel p{
    color: #7a7886;
    font-size: 13px;
    transform: translate(-7vw, 4vh);
}
.samuel:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    /* transform: scale(5px); */
}
.input{
    width: 50%;
    margin: -5vh 20vw;
}
.input input{
    border: none;
    outline: none;
    text-align: center;
    font-weight: bold;
    color: #7a7886;
    width: 50%;
    font-size: 50px;
    border-bottom: 1px solid #ddd;
}
.input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.nominal{
    transform: translate(21.5vw, 10vh);
}
.input2{
    margin: 15vh 20vw;
}
.input2 input{
    border: none;
    outline: none;
    border-bottom: 1px solid #ddd;
    text-align: center;
    color: #7a7886;
}
.Btn{
    margin: -5vh 35vw;
    width: 40%;
}