@media (max-width:600px){
    body{
        width: 100vw;
        overflow: hidden!important;
    }
    .container{
        align-items: center;
        width: 100%!important;
        display: flex;
        flex-direction: column!important;
        overflow: hidden;
        background-color: #FAFCFF;
    }
    .login-box{
        display: none!important;
        width: 0!important;
        height: 0!important;
    }
    .cover-inner{
        display: none;
        background-color: white;
    }
    .title{
        display: none;
    }
    .desc-right{
        display: none;
    }
    .start-box{
        display: block!important;
        width: 88%!important;
        height: 100vh;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        overflow: hidden;
    }
    .mobile-version{
        display: block!important;
        width: 100%;
        text-align: center;
    }
    .input .title{
        display: block!important;
        margin-top: -18vh;
        padding-left: 5vw;
        text-align: center;
        width: 70vw;
    }
    .input .title h2{
        color: black;
    }
    .LoginBtn{
        margin-top: 10vh!important;
        height: 57px!important;
    }
    
    .title-right{
        display: none;
    }
    .input {
        display: block;
        width: 80vw;
        margin-left: 4vw;
        transform: translateY(-5vh);
        justify-content: center;
    }
    header{
        display: block!important;
        height: 30%;
        width: 100%;
    }
    header .left{
        padding-top: 4px;
        transform: translateX(65vw);
        position: absolute;
    }
    header h2{
        margin-top: 6vh;
        color: #6379f4;
    }
    .float-right .forgot-link{
        display: block!important;
    }
    .input .recourse{
        align-items: center;
    }
}













body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    overflow: hidden;
}
.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw!important;
}
.login-box{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    width: 50vw;
    background: #6379f4;
}
.title{
    width: 50vw;
    height: 10%;
}
.title h1{
    /* font-family: 'Nunito Sans', sans-serif; */
    position: absolute;
    margin: 20px;
    font-weight: bold;
    color: white;
    font-size: 24px;
}
.cover-inner{
    width: 50vw;
    height: 90%;
}
.cover-inner img{
    transform: translate(10vh, -5vw);
}
.cover-inner h2{
    color: white;
    margin-top: -17vh;
    animation: leftBounce 10s;
}
.cover-inner p{
    margin: -1vh 5vw;
    color: #f2f4f4;
    font-size: 16px;
    width: 80%;
    animation: typing 25s;
}

/* ----------------------------cover right end------------------------ */

.start-box{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 50vw;
    height: 100%;
    background-color: #fff;
}
.title-right{
    width: 100%;
    height: 10%;
    align-items: center;
    /* margin-top: 1vh; */
    padding: 15px;
}
.title-right h1{
    width: 75%;
    font-size: 24px;
}
.input{
    margin-top: 20vh;
}

.desc-right{
    color: #aaa;
    margin-bottom: 20px;
    animation: typing 5s steps(10);
}
.start-box p{
    color: #aaa;
}
.text-desc{
    color: #e5e8e8;
}
.form-input{
    margin: 50px 0;
    width: 100%;
    overflow: hidden;
}
.form-input input{
    /* display: block; */
    box-sizing: border-box;
    padding: 0 15px 0 15px;
    width: 100%;
    padding: 10px 5px;
    padding-left: 50px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}
.form-input input:focus{
    border-bottom: 2px solid #6379f4;
}
.form-input .icon{
    position: absolute;
    margin-top: 10px;
}
.icon.right{
    position: relative;
    float: right;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-top: -30px;
}
.forgot-link{
    width: 100%;
    text-align: right;
    margin-top: -25px;
}
.forgot-link a{
    text-decoration: none;
}
.LoginBtn{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    margin: 0.5em 0;
    transform: translate(-1%);
    cursor: pointer;
    color: #fff;
    transition: all .4s;
}
/* .start-box .text a{
    text-decoration: none;
    text-align: start;
} */
.LoginBtn:hover{
    background: #6495ed;
    transition: 0.2s ease;
}
.start-box img{
    position: relative;

}
h2{
    color: #fff;
    font-size: 24px;
    text-align: center;
}


/* .effect-2 div{
    height: 3px;
    width: 3px;
    background-color: #3a3d42;
} */

.title.left{
    padding-right: 90px;
    animation: leftBounce 10s;
}
/* .effect-wrap .effect{
    position: absolute;
    z-index: -1;
} */

/* -----------------------start box end------------------------ */



@keyframes leftBounce{
    0%{
        transform: translateX(-600px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes typing{
    from{
    opacity: -5;}
    to{
    opacity: 2;}
}
@keyframes rightBounce{
    0%{
        transform: translateX(600px);
    }
    100%{
        transform: translateX(0);
    }
}


@media(max-width:1500px){
    header{
        display: none;
    }
    .input .title{
        display: none;
    }
}
/* -------------------------animation end----------------- */






