body{
    overflow-y: hidden;
    font-family: 'Nunito Sans', sans-serif;
}
.brand{
    font-family: 'Nunito Sans', sans-serif;
}
nav{
    height: 15vh;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.menu-bar{
    width: 20%!important;
    height: 70vh;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.box-history{
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.title p{
    color: #7a7886;
    margin-top: 2vh;
}
.samuel p{
    color: #7a7886;
    font-size: 13px;
    transform: translate(-7vw, 3vh);
}
.samuel:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    /* transform: scale(5px); */
}
.samuel span{
    color: #00ff00;
    transform: translate(32vw, 1vh);
}
.Netflix p{
    color: #7a7886;
    font-size: 13px;
    transform: translate(-3.8vw, 3vh);
}
.Netflix span{
    color: #ff5b37;
    transform: translate(34vw, 1vh);
}
.Netflix:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.mid-text{
    color: #7a7886;
}
.christine p{
    color: #7a7886;
    font-size: 13px;
    transform: translate(-8vw, 3vh);
}
.christine span{
    color: #00ff00;
    transform: translate(31vw, 1vh);
}
.christine:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.adobe p{
    color: #7a7886;
    font-size: 13px;
    transform: translate(-6vw, 3vh);
}
.adobe span{
    color: #ff5b37;
    transform: translate(32vw, 1vh);
}
.adobe:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}