@media screen and (max-width:600px){
    .container{
        max-width: 50vh;
        justify-content: center;
    }
    .navbar{
        display: none;
    }
    .sidebar-menu{
        display: none;
    }
    .main-transaction-history{
        transform: translate(3vw, 6vh);
    }
    .main-history-wrapper{
        width: 100vw!important;
        background-color: #fafcff!important;
        box-shadow: none!important;
    }
    .box-history h4{
        display: none;
    }
    .image{
        display: block!important;
        transform: translateY(-6vh);
    }
    .image .left{
        transform: translateX(72vw);
    }
    .back-way h3{
        transform: translate(10vw, -3vh);
        font-size: 20px;
    }
    .back-way img{
        transform: translate(3vw, -9vh);
    }
    .box-history p{
        transform: translateY(-17vh);
        font-size: 16px;
    }
    .first-user{
        display: flex;
        flex-direction: row;
        height: 96px!important;
        width: 100%!important;
        margin-top: 7vh;
        margin-bottom: 2vh;
        align-items: center;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
        /* border-radius: 5px; */
    }
    .first-user{
        display: block!important;
        transform: translate(0vw, -11vh);
    }
    .first-user img {
        padding-top: 2vh;
        width: 56px;
        height: 56px;
    }
    .first-user h5{
        transform: translate(16vw, -7vh);
    }
    .first-user p{
        transform: translate(22vw, -12vh);
    }
    .first-user h3 {
        /* margin-left: 15vw; */
        transform: translate(37vw, -18vh);
        font-size: 13px;
    }
    .second-user2{
        display: flex!important;
        flex-direction: row;
        height: 96px!important;
        width: 100%!important;
        margin-top: 7vh;
        margin-bottom: 2vh;
        align-items: center;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
    }
    .second-user2 img {
        padding-top: 2vh;
        width: 56px;
        height: 56px;
    }
    .second-user2 h5{
        transform: translate(16vw, -7vh);
    }
    .second-user2 p{
        transform: translate(25vw, -12vh);
    }
    .second-user2 h3 {
        color: #ff5b37;
        /* margin-left: 15vw; */
        transform: translate(39vw, -18vh);
        font-size: 13px;
    }
    .second-user2{
        display: block!important;
        transform: translate(0vw, -18vh);
    }
    .mid-text p{
        transform: translate(1vw, -33vh);
        width: 20vw!important;
    }
    .second-user{
        display: flex!important;
        flex-direction: row;
        height: 96px!important;
        width: 100%!important;
        margin-top: 7vh;
        margin-bottom: 2vh;
        align-items: center;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
    }
    .second-user img {
        padding-top: 2vh;
        width: 56px;
        height: 56px;
    }
    .second-user h5{
        transform: translate(16vw, -7vh);
    }
    .second-user p{
        transform: translate(25vw, -12vh);
    }
    .second-user h3 {
        color: #ff5b37;
        /* margin-left: 15vw; */
        transform: translate(39vw, -18vh);
        font-size: 13px;
    }
    .second-user{
        display: block!important;
        transform: translate(0vw, -10vh);
    }
    .third-user2{
        display: flex!important;
        flex-direction: row;
        height: 96px!important;
        width: 100%!important;
        margin-top: 7vh;
        margin-bottom: 2vh;
        align-items: center;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
    }
    .third-user2 img {
        padding-top: 2vh;
        width: 56px;
        height: 56px;
    }
    .third-user2 h5{
        transform: translate(16vw, -7vh);
    }
    .third-user2 p{
        transform: translate(27vw, -12vh);
    }
    .third-user2 h3 {
        color: #00ff00;
        /* margin-left: 15vw; */
        transform: translate(81vw, -18vh);
        font-size: 13px;
    }
    .third-user2{
        display: block!important;
        transform: translate(0vw, -16vh);
    }
    .fourth-user2{
        display: flex!important;
        flex-direction: row;
        height: 96px!important;
        width: 100%!important;
        margin-top: 7vh;
        margin-bottom: 2vh;
        align-items: center;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
    }
    .fourth-user2 img {
        padding-top: 2vh;
        width: 56px;
        height: 56px;
    }
    .fourth-user2 h5{
        transform: translate(16vw, -7vh);
    }
    .fourth-user2 p{
        transform: translate(30vw, -12vh);
    }
    .fourth-user2 h3 {
        color: #00ff00;
        /* margin-left: 15vw; */
        transform: translate(40vw, -18vh);
        font-size: 13px;
    }
    .fourth-user2{
        display: block!important;
        transform: translate(0vw, -22vh);
    }
    .low-part{
        transform: translateY(-19vh);
        flex-direction: row;
        /* justify-content: center; */
        height: 16vh;
    }
    .low-part .red{
        height: 45%;
        width: 12vw;
        transform: translate(6vw, 0vh);     
        background-color: white;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
    }
    .red img{
        padding: 3vw;
    }
    .low-part .green{
        height: 45%;
        width: 12vw;
        transform: translate(25vw, -7vh);      
        background-color: white;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
    }
    .green img{
        padding: 3vw;
    }
    .low-part button{
        width: 35vw;
        height: 45%;
        color: #6379f4;
        transform: translate(52vw, -14vh);
        /* font-weight: bold; */
        font-size: 18px;
        background-color: white;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
        border: none;
        border-radius: 10px;
    }
    .low-part{
        display: block!important;
    }
    .third-user{
        display: none!important;
    }
    .fourth-user{
        display: none!important;
    }
    .back-way{
        display: block!important;
    }
    footer{
        display: none!important;
    }
}




























body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family:'Nunito Sans', sans-serif;
    background-color: #fafcff;
    overflow: hidden;
}
.container{
    width: 100vw;
    height: 100vh;
    padding: 0 auto;
    margin: 0 auto;
    display: flex;
}
.navbar {
    width: 100%;
    height: 10%;
    background-color: white;
    padding: 15px;
    padding-right: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}
.navbar-column.left{
    padding: 0 100px;
}
.title.left {
    color: #6379f4;
}
.nav-user-info{
    margin-left: 15px;
    float: right;
}
.navbar-column.right{
    float: right;
    margin-top: -60px;
    padding-right: 10%;
}
.fw-bold{
    margin-bottom: -15px;
}
.icon.notification{
    margin-left: 120%;
}
.wraper{
    padding: 50px 0;
}

/* -----------------------navbar end--------------------------------- */

@keyframes sideLeft{
    0%,100%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(5px);
    }
}

/* ---------------------------sidebar start--------------------------- */
.sidebar-menu{
    position: absolute;
    width: 30vw;
    height: 70vh;
    transform: translate(2vw, 18vh);
    margin: 0;
}
.box-sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    width: 20vw;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}

.sidebar-menu .box-sidebar ul{
    position: absolute;
    margin-left: -3vw;
    width: 66%;
}
.sidebar-menu .box-sidebar li{
    margin-top: 10vh;
    padding: 14px 20px;
    transition: all 0.3s linear;
}
.sidebar-menu .box-sidebar .top{
    margin-top: 1vh;
}
.sidebar-menu .box-sidebar img{
    margin-bottom: -1vh;
    padding-right: 8px;
}
.sidebar-menu .box-sidebar a{
    font-size: 18px;
    text-decoration: none;
}
.sidebar-menu .box-sidebar .black{
    color: #7F8C8D ;
}
.sidebar-menu .box-sidebar li:hover{
    border-left: 3px solid#6379f4;
    box-shadow: 0 0 4px #A9CCE3;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}
/*---------------------------- sidebar end ----------------------------*/


/* ---------------------------history start------------------------------------------ */
.main-transaction-history{
    width: 35vw;
    margin: 13vw 115vh;
    display: flex;
    position: absolute;
}
.main-history-wrapper{
    height: 70vh;
    width: 65vw;
    margin: -7vh -35vw;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}
.box-history{
    height: 10%;
    width: 100%;
}
.box-history h4{
    /* font-size: 13px; */
    position: absolute;
    padding: 15px;
}
.box-history .first{
    padding: 0 10%;
}
.box-history p{
    color: #aaa;
    position: absolute;
    font-size: 13px;
    padding-top: 8vh;
    margin-left: 2vw;
    font-style: bold;
}
.first-user{
    display: flex;
    flex-direction: row;
    height: 15%;
    margin-top: 7vh;
    padding-bottom: 1vh;
    width: 95%;
    align-items: center;
    /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05); */
    border-radius: 5px;
}
.first-user:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    transform: translateX(2px);
}
/* .first-user img{
    margin: 15vh 2vw;
}
.first-user h5{
    position: absolute;
    margin: 16vh 7vw;
}
.first-user p{
    margin: 20vh -1vw;
    color: #aaa;
    font-size: 13px;
}
.first-user h3{
    color: #00ff00;
    font-size: 13px;
    margin: 16vh 48vw;
} */
.second-user{
    display: flex;
    flex-direction: row;
    /* height: 40%; */
    margin-top: 0vh;
    width: 95%;
    align-items: center;
    /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05); */
    border-radius: 5px;
}
.second-user:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    transform: translateX(2px);
}
.info2{
    margin-left: -6vh;
    padding-top: 30px;
    font-size: 13px;
    color: #aaa;
}
/* .second-user img{
    position: absolute;
    margin-left: -63vw;
    padding-top: 25vh;
}
.second-user h5{
    margin-left: -58vw;
    padding-top: 22vh;
}
.second-user p{
    color: #aaa;
    font-size: 13px;
    margin-left: -48vw;
    padding-top: 28vh;
}
.second-user h3{
    color: #ff5b37;
    font-size: 13px;
    margin-top: 27vh;
    padding-right: 2vw;
} */
.mid-text p{
    position: absolute;
    font-size: 13px;
    width: 10vw;
    color: #aaa;
    margin-top: 3vh;
    padding-left: 2vw;
}
.third-user{
    display: flex;
    flex-direction: row;
    /* height: 40%; */
    margin-top: 9vh;
    width: 95%;
    align-items: center;
    /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05); */
    border-radius: 5px;
}
.third-user:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    transform: translateX(2px);
}
.info3{
    margin-left: -8vh;
    font-size: 13px;
    color: #aaa;
    padding-top: 30px;
}
/* .third-user img{
    position: absolute;
    margin-left: -63vw;
    padding-top: 45vh;
}
.third-user h5{
    margin-left: -58vw;
    padding-top: 42vh;
} 
.third-user p{
    color: #aaa;
    font-size: 13px;
    margin-left: -50vw;
    padding-top: 48vh;
}
.third-user h3{
    color: #00ff00;
    font-size: 13px;
    margin-top: 47vh;
    padding-right: 2vw;
} */
.fourth-user{
    display: flex;
    flex-direction: row;
    /* height: 40%; */
    /* margin-top: 15vh; */
    width: 95%;
    align-items: center;
    /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05); */
    border-radius: 5px;
}
.fourth-user:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    transform: translateX(2px);
}
.info4{
    margin-left: -10vh;
    font-size: 13px;
    color: #aaa;
    padding-top: 30px;
}
/* .fourth-user img{
    position: absolute;
    margin-left: -63vw;
    padding-top: 55vh;
}
.fourth-user h5{
    margin-left: -58vw;
    padding-top: 52vh;
} 
.fourth-user p{
    color: #aaa;
    font-size: 13px;
    margin-left: -50vw;
    padding-top: 58vh;
}
.fourth-user h3{
    color: #ff5b37;
    font-size: 13px;
    margin-top: 56vh;
    padding-right: 2vw;
} */

/* ---------------------------footer start-------------------- */
footer{
    display: flex;
    justify-content: space-between;
    background: #6379f4;
    height: 10%;
    width: 100%;
    position: absolute;
    margin-top: 92vh;
}
footer p{
    margin-left: 3vw;
    color: white;
}
footer span{
    margin-left: 35vw;
    color: white;
    margin-top: 3vh;
}
footer .contact{
    margin-right: 5vw;
    color: white;
}


/* ---------------footer end----------- */

@media screen and (max-width:1500px){
    .image{
        display: none;
    }
    .back-way{
        display: none;
    }
    .second-user2{
        display: none;
    }
    .third-user2{
        display: none;
    }
    .fourth-user2{
        display: none;
    }
    .low-part{
        display: none;
    }
    /* .third-user{
        display: block!important;
    } */
    /* .fourth-user{
        display: block!important;
    } */
}





























