body{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Nunito Sans', sans-serif;
}

@keyframes appear{
    0%{
        transform: translateX(-600px);
    }
    100%{
        transform: translateX(0px);
    }
}

/* ---------------------------------header start--------------------------- */

header{
    background-color: #6379f4;
    height: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cover-waves{
    width: 100%;
    position: absolute;
}
h2{
    color: white;
    position: absolute;
    margin: 5vw 15vh;
}
button{
    position: absolute;
    border: 1px solid#fff;
    height: 7%;
    width: 10%;
    margin: 9vh 65vw;
    background-color: #6379f4;
    border-radius: 10px;
    transform: translate(-1%);
    transition: all .4s;
    color: #fff;
    cursor: pointer;
}
button:hover{
    background: white;
    transition: 0.2s ease;
    color: #6379f4;
}
.btn-signup{
    position: absolute;
    border: 1px solid#fdfefe;
    height: 7%;
    width: 10%;
    margin: 9vh 78vw;
    background-color: white;
    border-radius: 10px;
    transform: translate(-1%);
    transition: all .4s;
    color: #6379f4;
    cursor: pointer;
}
.btn-signup:hover{
    background: #6379f4;
    line-height: 1.5;
    transition: 0.2s ease-in;
    color: white;
}
.title h1{
    position: absolute;
    width: 40%;
    font-size: 60px;
    font-style: normal;
    color: #fff;
    margin: 35vh 10vw;
    animation: appear 10s ease;
}
.title p{
    position: absolute;
    color: #fff;
    font-size: 18px;
    width: 30%;
    margin: 33% 10%;
    font-weight: bold;
    animation: appear 10s ease;
}
.title button{
    position: absolute;
    border: 1px solid#fdfefe;
    height: 7%;
    width: 10%;
    margin: 40% 15%;
    background-color: white;
    border-radius: 10px;
    transform: translate(-1%);
    transition: all .4s;
    color: #6379f4;
    cursor: pointer;
}
.title button:hover{
    background: #6379f4;
    transition: 0.2s ease;
    color: white;
}
.title img{
    position: absolute;
    transform: translate(50vw, 19%);
}
.effect-wrap .effect{
    /* position: absolute; */
    z-index: -1;
}
.effect-1{
    width: 30px;
    height: 30px;
    border: 4px solid #fdfefe;
    margin: 90vh -60vw;
    animation: spin 10s linear infinite;
}

/* -----------------------------------header end----------------------------------------- */

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* ------------------------------------support start-------------------- */
.support{
    display: flex;
    align-items: center;
    background-color: rgba(71, 58, 209, 0.06);
    height: 30vh;
    flex-direction: row;
    justify-content: space-around;
}
.support .first-box:hover{
    background: #6379f4;
    transition: 0.2s ease;
    transform: translateY(-10%);
    border-radius: 5px;
}
.support .second-box:hover{
    background: #6379f4;
    transition: 0.2s ease;
    transform: translateY(-10%);
    border-radius: 5px;
}
.support .third-box{
    width: 170px;
    height: 115px;
}
.support .third-box:hover{
    background: #6379f4;
    transition: 0.2s ease;
    transform: translateY(-10%);
    border-radius: 5px;
}
.support .fourth-box:hover{
    background: #6379f4;
    transition: 0.2s ease;
    transform: translateY(-10%);
    border-radius: 5px;
}
/* -------------------------------support end-------------------------------------- */

@keyframes up{
    0%,100%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-30px);
    }
}

/* ----------------------------section start------------------------------------------- */

section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: -4vh;
    background: #ebf5fb;
}
.Aboutus{
    height: 65vh;
}
.Aboutus h1{
    font-weight: bold;
    font-style: normal;
    margin-left: 26vw;
    color: #6379f4;
    font-size: 60px;
}
.Aboutus span{
    font-weight: bold;
    color: black;
    font-size: 60px;
}
.Aboutus p{
    color: #3a3d42;
    font-weight: 18px;
    margin-left: 29vw;
    width: 42vw;
    line-height: 31px;
    text-align: center;
}
.cards{
    display: flex;
    flex-wrap: nowrap;
    height: 50%;
    margin-top: -10vh;
}

.cards .contact{
    height: 35vh;
    width: 30vw;
    padding-top: 15px;
    margin: 0 2vw;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}
.cards .data{
    height: 35vh;
    width: 30vw;
    padding-top: 15px;
    margin: 0 2vw;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}
.cards .download{
    height: 35vh;
    width: 30vw;
    padding-top: 15px;
    margin: 0 2vw;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}
.cards p{
    width: 75%;
    padding-left: 4vw;
}
.cards .contact:hover{
    /* background: #6379f4; */
    transform: translateY(-5px);
    box-shadow: 0 10px 30px #6379f4 ;
    opacity: 1;
    animation: up 3s ease-in-out infinite;
}
.cards .data:hover{
    /* background: #6379f4; */
    transform: translateY(-5px);
    box-shadow: 0 10px 30px #6379f4 ;
    opacity: 1;
    animation: up 3s ease-in-out infinite;
}
.cards .download:hover{
    /* background: #6379f4; */
    transform: translateY(-5px);
    box-shadow: 0 10px 30px #6379f4 ;
    opacity: 1;
    animation: up 3s ease-in-out infinite;
}
/* -------------------------cards end-------------------------------- */


@keyframes upDown {
    0%,100%{
        transform: translateY(-350px);
    }
    50%{
        transform: translateY(500px);
    }
    
}
/* ----------------------------main start------------------------------- */
main{
    height: 147vh;
    display: flex;
    flex-direction: row;
    background-color: rgba(71, 58, 209, 0.06);
}
.features{
    z-index: -1;
}
.features img{
    position: absolute;
    animation: upDown 30s ease-in-out infinite;
}
/* .features .down{
    position: absolute;
    transform: translateY(85%);
} */
.strenght{
    width: 40%;
    height: 40%;
    padding-top: 15vh;
    /* text-align: center; */
    z-index: -1;
    margin-left: 50%;
    animation: appearUp 20s ease;
}
.strenght h1{
    font-weight: bold;
    font-style: normal;
    color: black;
    font-size: 60px;
}
.strenght span{
    font-weight: bold;
    font-size: 60px;
    color: #6379f4;
}
.cost{
    width: 86vh;
    position: absolute;
    padding-left: 15px;
    /* padding-top: 15px; */
    /* margin: 0 2vw; */
    /* text-align: center; */
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}
.cost:hover{
    /* background: #6379f4; */
    transform: translateY(-5px);
    box-shadow: 0 10px 30px #6379f4 ;
    opacity: 1;
    animation: up 3s ease-in-out infinite;
}
.cost h4{
    font-size: 22px;
    color: #6379f4;
}
.cost span{
    font-size: 20px;
    color: black;
}
.cost p{
    margin-top: -3vh;
    font-size: 18px;
}
.security{
    width: 86vh;
    position: absolute;
    padding-left: 15px;
    margin-top: 20vh;
    /* padding-top: 15px; */
    /* margin: 0 2vw; */
    /* text-align: center; */
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}
.security h4{
    font-size: 22px;
    color: #6379f4;
}
.security span{
    font-size: 20px;
    color: black;
}
.security p{
    margin-top: -3vh;
    font-size: 18px;
}
.friendly{
    width: 86vh;
    position: absolute;
    padding-left: 15px;
    margin-top: 40vh;
    /* padding-top: 15px; */
    /* margin: 0 2vw; */
    /* text-align: center; */
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}
.friendly h4{
    font-size: 22px;
    color: #6379f4;
}
.friendly span{
    font-size: 20px;
    color: black;
}
.friendly p{
    margin-top: -3vh;
    font-size: 18px;
}

/* ----------------------------main end-------------------------------- */

@keyframes sideRight {
    0%,100%{
        transform: translateX(15px);
    }
    50%{
        transform: translateX(5px);
    }
}

/* ----------------------------article start-------------------------------------- */

article{
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ebf5fb;
}
.coment h1{
    font-weight: bold;
    font-style: normal;
    color: black;
    font-size: 60px;
    text-align: center;
}
.coment span{
    font-weight: bold;
    font-size: 60px;
    color: #6379f4;
}
.coment p{
    margin-top: -3vh;
    font-size: 18px;
    text-align: center;
}
.review{
    height: 75vh;
    width: 80vw;
    /* padding-top: 15px;
    margin: 0 2vw; */
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}
.review img{
    margin-top: 10vh;
}
.review p{
    width: 80%;
    margin: 7vh 7vw;
    font-size: 18px;
}
.review .arrow-right{
    box-sizing: border-box;
    position: absolute;
    margin: -35vh -45vw;
    border-radius: 15px;
    background-color: #fff;
    animation: sideRight 5s ease-in-out infinite;
}
.review .arrow-left{
    box-sizing: border-box;
    position: absolute;
    margin: -35vh 40vw;
    border-radius: 15px;
    background-color: #fff;
    animation: sideRight 5s ease-in-out infinite;
}
/* ------------------------------article end----------------------------- */

@keyframes appearUp{
    0%{
        transform: translateY(-700px);
    }
    100%{
        transform: translateY(0px);
    }
}

/* -----------------------------footer start------------------------ */

footer{
    height: 60vh;
    display: flex;
    flex-direction: column;
    background-color: #6379f4;
}
.final-info p{
    font-size: 18px;
    width: 25%;
    margin: 25vh 7vw;
    color: #fff;
}
.final-info hr{
    margin-top: -20vh;
    width: 86%;
}
.final-info .copyright{
    position: absolute;
    margin: 3vh 7vw;
}
.final-info span{
    position: absolute;
    margin: 3vh 60vw;
    width: 100%;
    color: #fff;
}
.final-info .contact{
    position: absolute;
    margin: 3vh 77vw;
}



















