body{
    overflow: hidden;
}
.login-box{
    height: 100vh!important;
}
.cover-inner .hp{
    transform: translate(8vw, -140vh);
}
.cover-inner .low-text{
    transform: translate(5vw, -143vh);
} 
.cover-inner p{
    transform: translate(5vw, -140vh);
}
.input p{
    color: rgba(58, 61, 66, 0.6);
    font-weight: 500;
}

.input input{
    padding: 0 15px 0 15px;
    width: 100%;
    padding: 2vh 0vw;
    padding-left: 50px;
    border: none;
    outline: none ;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}
.input input:focus{
    border-bottom: 2px solid #6379f4;
}
.input .eye{
    transform: translate(41vw, -5vh);
}
.input a{
    position: absolute;
    text-decoration: none;
    transform: translate(32vw, 2vh);
}
.btnLogin a{
    text-decoration: none;
    transform: translate(1vw, 0vh);
}
.btnLogin button:hover{
    background-color: #6379f4;
    transition: all 3s ease;
}