body{
    overflow-y: hidden;
    font-family: 'Nunito Sans', sans-serif;
}
.brand{
    font-family: 'Nunito Sans', sans-serif;
}
nav{
    height: 15vh;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.menu-bar{
    width: 20%!important;
    height: 70vh;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.box-history{
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.box-history input{
    box-sizing: border-box;
    width: 50vw;
    height: 7vh;
    margin: 0vw 4vh;
    padding: 10px 30px;
    border: none;
    outline: none;
    background: #cacfd2;
    border-radius: 20px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
  }
.title p{
    color: #7a7886;
    margin-top: 2vh;
}
.samuel p{
    color: #7a7886;
    font-size: 13px;
    transform: translate(-7vw, 3vh);
}
.samuel:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    /* transform: scale(5px); */
}
.momo p{
    color: #7a7886;
    font-size: 13px;
    transform: translate(-6.8vw, 3vh);
}
.momo:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.keen p{
    color: #7a7886;
    font-size: 13px;
    transform: translate(-7vw, 3vh);
}
.keen:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.michael p{
    color: #7a7886;
    font-size: 13px;
    transform: translate(-7vw, 3vh);
}
.michael:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}